header {
    height: 350px;
}



.menu p {
    margin-top: 0;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
}

.product-img {
    border: 2px solid #eeeeee;
    background-color: #eaeaea;
    width: 370px;
    height: 370px;
    margin-right: 50px;
}

.product-inf {
    width: 438px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-inf span:first-child {
    color: #353535;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 53px;
}

.product-inf span:nth-child(2) {
    color: #111111;
    font-size: 21.99px;/* Approximation due to font substitution */
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin-bottom: 27px;
}

hr {
    background-color: rgba(51, 51, 51, 0.1);
    width: 390px;
    height: 1px;
    margin: 20px 0;
}

.product-inf span:nth-child(4) {
    color: #353535;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 20px;/* Approximation due to font substitution */
    text-align: left;
    text-transform: uppercase;
}

.product-inf p {
    color: #707070;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 16px;/* Approximation due to font substitution */
    text-align: left;
}

.product-inf a{
    display: block;
    /* width: 130px;  height: 48px; */
    text-decoration: none;
    background-color: #fb4d01;
    color: #ffffff;
    font-size: 15.99px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 20px;/* Approximation due to font substitution */
    text-align: center;
    padding: 18px 14px 18px 15px;
    margin-left: 126px;
    text-transform: uppercase;
}

.product-txt span {
    margin-top: 42px;
    margin-left: 25px;
    display: inline-block;
    background-color: #26d2fc;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    font-size: 10.91px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    width: 160px;
    height: 35px;
}

.product-txt p {
    display: inline-block;
    font-family: Verdana;
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    border: 1px solid grey;
    margin-top: -1px;
}