header {
    height: 350px;
    z-index: 0;
    position: relative; 
}

.header-top {
    position: absolute;
    z-index: 2;
}

header iframe {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contact-block {
    width: 698px; height: 485px;
    margin-left: 41px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    display: block;
    margin-top: 0;
    margin-right: 50px;
}

.contact-form legend {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 34px;
}

.contact-form legend:first-child {
    margin-top: 0;
}

.contact-form input {
    width: 350px;   height: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #aaaaaa;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    padding-left: 1em;
}

.contact-form input:focus {
    outline: none;
}

.contact-form textarea {
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 366px;
    height: 150px;
}

.vertical-line {
    background-color: black;
    width: 1px;
    height: 330px;
    margin: 0 30px;
}

.information ul {
    list-style-type: none;
    margin-top: 0;
}

.information ul li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.information ul li:first-child {
    color: #353535;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 900;
    line-height: 14px;/* Approximation due to font substitution */
    text-align: left;
    margin-bottom: 17px;
}

.information ul li:nth-child(2) {
    list-style-image: url('../img/loc.png');
    color: #777777;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 14px;/* Approximation due to font substitution */
    text-align: left;
    margin-bottom: 22px;
}

.information ul li:nth-child(3) {
    list-style-image: url('../img/phone.png');
    color: #333333;
    font-size: 20px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 20.8px;/* Approximation due to font substitution */
    text-align: left;
    margin-bottom: 20px;
}

.information ul li:nth-child(4) {
    list-style-image: url('../img/email.png');
    margin-bottom: 30px;
    
}

.information ul li:nth-child(4) a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 20.8px;/* Approximation due to font substitution */
    text-decoration: underline;
    text-align: left;
}

.information ul li:last-child {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 14px;/* Approximation due to font substitution */
    text-align: left;
}

.social {
    margin-top: 151px;
}