* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color:white;
  box-sizing: border-box;
}

header, section {
  padding-left: 7%;
  padding-right: 7%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  height: 5vh;
  width: 100%;
  z-index: 100;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s all;
}

.abs-header {
  position: absolute;
  top: 0;
  left: 0;

  /* background: black; */
}

.fixed-header {
  position: fixed;
  background: white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.fixed-header > nav > p {
  color: black;
}

.logo {
  height: 100%;
  width: auto;
}

.logo:hover {
  cursor: pointer;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-content: center;
  margin-left: 50vw;
}

nav p {
  text-align: center;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1rem;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s all;
}

nav p:hover {
  cursor: pointer;
  color: #ff2c57;
}

#first {
  height: 100vh;
  background: 
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url('./img/back.png') fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#first span:first-child {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: lighter;
}

#first h1 {
  font-size: 55px;
  letter-spacing: 2px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

#first h1 l {
  color: #ff2c57;
  font-size: 55px;
  letter-spacing: 2px;
}

.button {
  background: #ff2c57;
  border-radius: 30px;
  padding: 10px;
  margin-top: 2vh;
  letter-spacing: 1px;
  transition: 0.5s linear all;
}

.button:hover {
  cursor: pointer;
  background: white;
  color: #ff2c57;
}

#second {
  padding-top: 5vh;
  display: flex;
  flex-flow: column nowrap;
  min-height: 70vh;
  background: #f6f6f6;
}

.second-wrapper {
  padding-left: 20px;
  position: relative;
}

.second-wrapper::before, .second-wrapper::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 50%;
  top: 0;
  left: 10px;
  background-color: #ff2c57;
}

.second-wrapper::after {
  height: 100%;
  left: 0;
}

#second h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

#second l {
  color: #ff2c57;
  font-size: 35px;
}

#second h2, #second > .second-wrapper > span {
  color: black;
}

.second-adv {
  margin-top: 8vh;
  display: flex;
  flex-flow: column nowrap;  
  justify-content: center;
  align-items: center;
}

.adv-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.adv-wrap {
  padding: 20px 20px 40px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.adv {
  background: white;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  position: relative;
  flex: 1;
  transition: 0.5s linear all;
}

.adv:nth-child(3), .adv:nth-child(6) {
  margin-right: 0;
}

.adv:hover {
  cursor: default;
  background: #ff2c57;
}

.adv:hover svg {
  fill: white;
}

.adv:hover .adv-wrap h3, .adv:hover > .adv-wrap > span {
  color: white;
}

.adv-wrap svg {
  transition: 0.5s linear all;
  height: 20%;
  width: auto;
  margin-right: auto;
  fill: #ff2c57;
}

.adv-wrap h3 {
  font-size: 22px;
  margin-top: 20px;
  color: black;
  margin-right: auto;
  transition: 0.5s linear all;
}

.adv-wrap span {
  margin-top: 10px;
  color: black;
  line-height: 1.8;
  font-size: 12px;
  align-self: flex-start;
  transition: 0.5s linear all;
}

.adv-number {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: rgba(0, 0, 0, 0.12);
  font-size: 150px;
  z-index: 1;
}

#third {
  min-height: 30vh;
  background: 
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url('./img/contact.jpg') no-repeat bottom;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

#third h2 {
  color: #ff2c57;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 30px;
}

#third>span {
  font-size: 18px;
  color: white;
}

.buttons-wrap .button:first-child {
  margin-right: 3vw;
}

.buttons-wrap {
  margin-bottom: 30px;
}

#fourth {
  display: flex;
  flex-flow: row nowrap;
  min-height: 70vh;
  padding-left: 0;
}

.block-img {
  width: 35vw;
  background: url('./img/strategy.jpg') center center;
}

.block-strategy {
  margin-top: 7vh;
  margin-left: 5vw;
  flex: 3;
  display: flex;
  flex-flow: column nowrap;
  /* background: black; */
}

.block-strategy>h3 {
  font-size: 18px;
  font-weight: 300;
  color: #ff2c57;
  margin-bottom: 30px;
}

.block-strategy>h2 {
  color: black;
  font-size: 35px;
  font-weight: 200;
  margin-bottom: 30px;
}

h2>l {
  color: #ff2c57;
  font-size: 35px;
  font-weight: 200;
}

.block-strategy>span {
  color: black;
  margin-bottom: 30px;
}

.block-strategy ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.block-strategy ul li {
  color: black;
  margin-bottom: 15px;
}

.block-strategy ul li:last-child {
  margin-bottom: 0;
}

.block-strategy ul li::before {
  content: '✔';
  color: #ff2c57;
  margin-right: 10px;
}

footer {
  height: 5vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}